---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "About me" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}


<p>I am an assistant professor of Information and Computer Science at King Fahd University of Petroleum and Minerals. My research interests are in computational social science, Arabic Nautral Language Processing, and human-computer interaction.</p>
    

<p>I received my PhD in Computer Science from the University of Colorado Boulder. I was advised by Professor <a href="https://www.cs.colorado.edu/~mishras/" target="_blank">Shivakant Mishra</a>. My PhD research involved detecting and characterizing abuse on social media. Problems I studied include religious hate speech and malicious bots on Arabic Twitter. </p>

<p>I received my B.S. in Computer Science from Taibah University in 2012. In 2017, I received my M.S. in Computer Science from University of Colorado Boulder.</p>
