---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "About me" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}


<p>I am a PhD student in the Computer Science department at the University of Colorado Boulder, advised by Professor <a href="https://www.cs.colorado.edu/~mishras/" target="_blank">Shivakant Mishra</a>.
I am also a lecturer in the Computer Science department at Taibah University. </p>


</p>My research interests are in human-computer interaction, computational social science, and Arabic Nautral Language Processing.</p>

</p>My PhD research involves detecting and characterizing abuse on social media. Problems I have studied include religious hate speech and malicious bots on Arabic Twitter. </p>

</p>I received my B.S. in Computer Science from Taibah University in 2012. In 2017, I received my M.S. in Computer Science from University of Colorado Boulder.</p>
